# Ref repository
https://github.com/chiragbiradar/DDoS-Attack-Detection-and-Mitigation

# Cập nhật hệ thống, chú ý dùng python3.9 và pip cài đúng phiên bản
sudo add-apt-repository ppa:deadsnakes/ppa
sudo apt update && sudo apt upgrade -y
sudo apt install -y git vim net-tools build-essential python3.9 python3.9-venv python3.9-dev
sudo apt-get install x11-xserver-utils xterm -y

# Cài đặt Mininet và Open vSwitch (OVS)
sudo apt install -y mininet openvswitch-switch

# Cài đặt công cụ tấn công giả lập (hping3) để test DDoS
sudo apt install -y hping3

# Tạo môi trường ảo
python3.9 -m venv env

# Kích hoạt môi trường
source ~/SDN_DDoS_Detection_Mitigation/env/bin/activate
cd ~/SDN_DDoS_Detection_Mitigation/sdn_controller/

# Kiểm tra lại phiên bản, phải đảm bảo Python 3.9.x
python --version

# Cài đặt các thư viện
pip install "setuptools<58.0.0" "wheel<0.40.0" "eventlet==0.30.2"
pip install scikit-learn pandas numpy scapy pbr ryu matplotlib
pip install seaborn streamlit plotly watchdog

# Thư viện lấy thông số hệ thống, server
pip install psutil flask flask-cors webob routes oslo.config msgpack netaddr "dnspython<2.0.0"
pip install streamlit-autorefresh


# ================================ Plot dashboard ===================================

streamlit run dashboard.py

  Local URL: http://localhost:8501
  Network URL: http://172.28.43.238:8501


# xterm h2
 ps aux | grep "mininet:h2"
 sudo nsenter -t PID -n bash
 tcpdump -n -i h2-eth0 icmp


# ================================ TCP flags ===================================
1: FIN (kết thúc kết nối)
hping3 -F -p 80 target_ip
2: SYN (khởi tạo kết nối)
hping3 -S -p 80 target_ip
4: RST (reset kết nối)
hping3 -R -p 80 target_ip
8: PSH (đẩy dữ liệu ngay)
hping3 -P -p 80 target_ip
16: ACK (xác nhận)
32: URG (dữ liệu khẩn cấp)
hping3 -U -p 80 target_ip
64: ECE (ECN-Echo, dùng cho congestion control)
128: CWR (Congestion Window Reduced)
18: SYN + ACK
hping3 -S -A -p 80 target_ip
17: FIN + ACK
hping3 -F -A -p 80 target_ip