# Ref repository
https://github.com/chiragbiradar/DDoS-Attack-Detection-and-Mitigation.git

# Cập nhật hệ thống, chú ý dùng python3.9 và pip cài đúng phiên bản
sudo add-apt-repository ppa:deadsnakes/ppa
sudo apt update && sudo apt upgrade -y
sudo apt install -y git vim net-tools build-essential python3.9 python3.9-venv python3.9-dev
sudo apt-get install x11-xserver-utils xterm -y

# Cài đặt Mininet và Open vSwitch (OVS)
sudo apt install -y mininet openvswitch-switch

# Cài đặt công cụ tấn công giả lập (hping3) để test DDoS
sudo apt install -y hping3


# Tạo môi trường ảo
python3.9 -m venv env

# Kích hoạt môi trường
source env/bin/activate

# Kiểm tra lại phiên bản, phải đảm bảo Python 3.9.x
python --version

# Cài đặt các thư viện
pip install "setuptools<58.0.0" "wheel<0.40.0" "eventlet==0.30.2"
pip install scikit-learn pandas numpy scapy pbr ryu matplotlib
pip install seaborn streamlit plotly watchdog

# Thư viện lấy thông số hệ thống, server
pip install psutil flask flask-cors webob routes oslo.config msgpack netaddr "dnspython<2.0.0"


# ================================ Plot dashboard ===================================

streamlit run dashboard.py

  Local URL: http://localhost:8501
  Network URL: http://172.28.43.238:8501




LƯU Ý KHI VIẾT BÁO CÁO:

Chèn Code: Với mỗi phần mô tả kỹ thuật (3.4), hãy copy các đoạn code quan trọng từ controller_new.py vào báo cáo và giải thích dòng code đó làm gì. Điều này làm tăng độ dài và tính thuyết phục kỹ thuật.

Chèn Công thức: Viết rõ công thức tính Standard Scaler, công thức tính PPS.

Tận dụng Hình ảnh: Bạn đã có rất nhiều ảnh đẹp (Dashboard đỏ, Dashboard xanh, Terminal log, Cấu trúc thư mục). Hãy chèn rải rác để minh họa cho từng tiểu mục.

Phần Tài liệu tham khảo: Nhớ trích dẫn nguồn dataset CIC-DDoS2019 và các thư viện Ryu/Streamlit.


# Bật server trên h18
h18 iperf -s -u -p 80 &

# Tắt server
h18 killall iperf

# Tấn công distributed
mininet> h1 hping3 --udp -p 80 -i u10000 10.0.0.18 &
mininet> h3 hping3 --udp -p 80 -i u10000 10.0.0.18 &
mininet> h4 hping3 --udp -p 80 -i u10000 10.0.0.18 &
mininet> h5 hping3 --udp -p 80 -i u10000 10.0.0.18 &


# Tắt hping3 trên tất cả các host
mininet> h1 killall hping3
mininet> h3 killall hping3
mininet> h4 killall hping3
mininet> h5 killall hping3
